In [ ]:
# pip install pyyaml

In [1]:
# !pip uninstall pipenv
# !pip install pipenv

In [2]:
# pip install vaex

In [3]:
import vaex as vx
from filters.filters import FilterCreation
from filter_values.vaex_filtes import LoadFilterValues

# load data frame

In [4]:
data_frame = vx.from_csv("./dataset/processed_crimes_sample_5000.csv")
# data_frame = vx.from_csv("./dataset/processed_full.csv")

In [5]:
# print head
data_frame.head(5)

  #  Date                       ID  Case Number    Date.1      Block                  IUCR  Primary Type    Description              Location Description    Arrest    Domestic      Beat    District    Ward    Community Area  FBI Code      X Coordinate    Y Coordinate    Year  Updated On                Latitude    Longitude  Location                       Datetime             Day       Time        Month
  0  2015-09-05 13:30:00  10224738  HY411648       2015-09-05  043XX S WOOD ST        0486  BATTERY         DOMESTIC BATTERY SIMPLE  RESIDENCE               False     True           924           9      12                61  08B            1.16507e+06     1.87592e+06    2015  02/10/2018 03:50:01 PM     41.8151     -87.67    (41.815117282, -87.669999562)  2015-09-05 13:30:00  Saturday  13:30:00        9
  1  2015-09-04 11:30:00  10224739  HY411615       2015-09-04  008XX N CENTRAL AVE    0870  THEFT           POCKET-PICKING           CTA BUS                 False     False         1511          15      29                25  06             1.13888e+06     1.90487e+06    2015  02/10/2018 03:50:01 PM     41.8951     -87.7654  (41.895080471, -87.765400451)  2015-09-04 11:30:00  Friday    11:30:00        9
  2  2015-09-05 12:45:00  10224740  HY411595       2015-09-05  035XX W BARRY AVE      2023  NARCOTICS       POSS: HEROIN(BRN/TAN)    SIDEWALK                True      False         1412          14      35                21  18             1.15204e+06     1.92038e+06    2015  02/10/2018 03:50:01 PM     41.9374     -87.7166  (41.937405765, -87.716649687)  2015-09-05 12:45:00  Saturday  12:45:00        9
  3  2015-09-05 13:00:00  10224741  HY411610       2015-09-05  0000X N LARAMIE AVE    0560  ASSAULT         SIMPLE                   APARTMENT               False     True          1522          15      28                25  08A            1.14171e+06     1.90009e+06    2015  02/10/2018 03:50:01 PM     41.8819     -87.7551  (41.881903443, -87.755121152)  2015-09-05 13:00:00  Saturday  13:00:00        9
  4  2015-09-05 10:55:00  10224742  HY411435       2015-09-05  082XX S LOOMIS BLVD    0610  BURGLARY        FORCIBLE ENTRY           RESIDENCE               False     False          614           6      21                71  05             1.16843e+06     1.85016e+06    2015  02/10/2018 03:50:01 PM     41.7444     -87.6584  (41.744378879, -87.658430635)  2015-09-05 10:55:00  Saturday  10:55:00        9

In [6]:
filters = FilterCreation(data_frame)

In [7]:
df_slice_obj = LoadFilterValues(data_frame)
df_slice_obj.get_days_of_week()

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [8]:
data_frame.dtypes

Date                     string
ID                        int64
Case Number              string
Date.1                   string
Block                    string
IUCR                     string
Primary Type             string
Description              string
Location Description     string
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 string
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               string
Latitude                float64
Longitude               float64
Location                 string
Datetime                 string
Day                      string
Time                     string
Month                     int64
dtype: object

In [9]:
# create selection filter


years=[2010,2011,2012,2013,2014,2015,2016,2017,2018]
months=[1,2,3,4,5,6,7,8,9,10,11,12]
types=["THEFT","ASSAULT","NARCOTICS","BATTERY","CRIMINAL DAMAGE","OTHER OFFENSE","ROBBERY"]
districts= [1,2,3,5,10]

result =data_frame.select(data_frame.Month.isin([12]), mode='and')
result= data_frame.select(data_frame["Year"].isin([2001,2002,2003]), mode='and')
result = data_frame.select(data_frame.District.isin(districts), mode='and')

result = data_frame.select(data_frame.Month.isin(months), mode='and')
result = data_frame.select(data_frame["Primary Type"].isin(types), mode='and')

In [10]:
# get years filter
years = data_frame["Year"].unique() # get unique years
years[:5]

[2012, 2005, 2015, 2013, 2014]

In [11]:
# get_crime_types
types = data_frame["Primary Type"].unique() # get unique crime types
types[:5]

['STALKING', 'HUMAN TRAFFICKING', 'ROBBERY', 'NON - CRIMINAL', 'OTHER OFFENSE']

In [12]:
fil_obj = LoadFilterValues(data_frame)
dist_name_map = {1: "Central", 2: "Wentworth", 3: "Grand Crossing", 4: "South Chicago", 5: "Calumet",
                        6: "Gresham", 7: "Englewood", 8: "Chicago Lawn", 9: "Deering", 10: "Ogden",
                        11: "Harrison", 12: "Near West", 14: "Shakespeare", 15: "Austin", 16: "Jefferson Park",
                        17: "Albany Park", 18: "Near North", 19: "Town Hall", 20: "Lincoln", 21:'Dis21',22: "Morgan Park",23:'dist23',
                        24: "Rogers Park", 25: "Grand Central",31:"dis31"}
dist_name_map

{1: 'Central',
 2: 'Wentworth',
 3: 'Grand Crossing',
 4: 'South Chicago',
 5: 'Calumet',
 6: 'Gresham',
 7: 'Englewood',
 8: 'Chicago Lawn',
 9: 'Deering',
 10: 'Ogden',
 11: 'Harrison',
 12: 'Near West',
 14: 'Shakespeare',
 15: 'Austin',
 16: 'Jefferson Park',
 17: 'Albany Park',
 18: 'Near North',
 19: 'Town Hall',
 20: 'Lincoln',
 21: 'Dis21',
 22: 'Morgan Park',
 23: 'dist23',
 24: 'Rogers Park',
 25: 'Grand Central',
 31: 'dis31'}

In [13]:
# create ranking table filter

tp_df = data_frame.copy()
tp_df['District_Name'] = tp_df.District.map(dist_name_map)

tp_df = tp_df.groupby([tp_df["District_Name"], tp_df["Primary Type"]], agg={
                                'total_case': vx.agg.count('Primary Type')})
tp_df = tp_df.sort(["District_Name", 'total_case'], ascending=False)                                
tp_df.head(5)

  #  District_Name    Primary Type          total_case
  0  dis31            NARCOTICS                     42
  1  dis31            DECEPTIVE PRACTICE            26
  2  dis31            CRIMINAL DAMAGE               20
  3  dis31            THEFT                         20
  4  dis31            BATTERY                       18

In [14]:
# createa sunburst filter
tp_df = data_frame.copy()
tp_df['District_Name'] = tp_df.District.map(dist_name_map)
tp_df = tp_df.groupby([tp_df["District_Name"], tp_df["Primary Type"]], agg={
                                'total_case': vx.agg.count('Primary Type')})
tp_df = tp_df.sort(["District_Name", 'total_case'], ascending=False)
tp_df.head(5)

  #  District_Name    Primary Type          total_case
  0  dis31            NARCOTICS                     42
  1  dis31            DECEPTIVE PRACTICE            26
  2  dis31            CRIMINAL DAMAGE               20
  3  dis31            THEFT                         20
  4  dis31            BATTERY                       18