In [1]:
import vaex as vx

In [2]:
from datafilters.DataFilter import DataFilter

In [ ]:
data_frame = vx.from_csv("./dataset/processed_full.csv")

In [22]:

filters = DataFilter(data_frame)

In [10]:
# total cases test
filters.get_total_cases()

array(6797353)

In [11]:
# years test
filters.get_years()[:5]

[2001, 2002, 2003, 2004, 2005]

In [12]:
# get crime types test
filters.get_crime_types()[:5]

['ARSON',
 'ASSAULT',
 'BATTERY',
 'BURGLARY',
 'CONCEALED CARRY LICENSE VIOLATION']

In [13]:
# sunburst filter test
tp= filters.sunburst_filter()
tp.head(5)

  #  District_Name    Primary Type       total_case
  0  Wentworth        THEFT                   62179
  1  Wentworth        BATTERY                 61612
  2  Wentworth        CRIMINAL DAMAGE         31714
  3  Wentworth        NARCOTICS               27582
  4  Wentworth        ASSAULT                 22238

In [15]:
# # create selection test
filters.create_selection(years=[2001, 2002, 2003], types=[], districts=[], months=[])
filters.get_total_cases()

820908

array(820908)

In [16]:
# sunburst filter test after selection
tp= filters.sunburst_filter()
tp.head(5)

  #  District_Name    Primary Type       total_case
  0  Wentworth        BATTERY                  9691
  1  Wentworth        THEFT                    8048
  2  Wentworth        NARCOTICS                5475
  3  Wentworth        CRIMINAL DAMAGE          4133
  4  Wentworth        ASSAULT                  2896

In [17]:
# table filter test after selection
tp= filters.table_filter()
tp.head(5)

  #  District_Name    Primary Type       total_case
  0  Wentworth        BATTERY                  9691
  1  Wentworth        THEFT                    8048
  2  Wentworth        NARCOTICS                5475
  3  Wentworth        CRIMINAL DAMAGE          4133
  4  Wentworth        ASSAULT                  2896

In [24]:
# create selection test
filters.create_selection(years=[2001], types=[], districts=[], months=[])
filters.get_total_cases()

3888

array(3888)

In [19]:
tp= filters.table_filter()
tp.head(5)

  #  District_Name    Primary Type           total_case
  0  Wentworth        THEFT                          60
  1  Wentworth        HOMICIDE                       27
  2  Wentworth        MOTOR VEHICLE THEFT            25
  3  Wentworth        DECEPTIVE PRACTICE             14
  4  Wentworth        OTHER OFFENSE                  14

In [25]:
filters.reset_data_frame()
filters.get_total_cases()

array(6797353)