In [1]:
import vaex as vx

In [2]:
from datafilters.DataFilter import DataFilter

In [3]:
data_frame = vx.from_csv("./datasets/sample_data.csv")

In [4]:

filters = DataFilter(data_frame)

In [5]:
# total cases test
filters.get_total_cases()

array(2200)

In [6]:
# years test
filters.get_years()[:5]

[2001, 2002, 2003, 2004, 2005]

In [7]:
# get crime types test
filters.get_crime_types()[:5]

['ARSON',
 'ASSAULT',
 'BATTERY',
 'BURGLARY',
 'CONCEALED CARRY LICENSE VIOLATION']

In [8]:
# sunburst filter test
tp= filters.sunburst_filter(data_frame)
tp.head(5)

      labels              parents  values
0  Wentworth                THEFT      29
1  Wentworth              BATTERY      21
2  Wentworth      CRIMINAL DAMAGE      14
3  Wentworth              ASSAULT       8
4  Wentworth  MOTOR VEHICLE THEFT       7

In [9]:
# # create selection test
filters.create_selection(years=[2001, 2002, 2003], types=[], districts=[], months=[])
filters.get_total_cases()

before filter df  2200
after filter selection 300

array(300)

In [10]:
# sunburst filter test after selection
tp= filters.sunburst_filter(data_frame)
tp.head(5)

      labels              parents  values
0  Wentworth                THEFT      29
1  Wentworth              BATTERY      21
2  Wentworth      CRIMINAL DAMAGE      14
3  Wentworth              ASSAULT       8
4  Wentworth  MOTOR VEHICLE THEFT       7

In [11]:
# table filter test after selection
tp= filters.create_ranking_filter(data_frame)
tp.head(5)

  #  District_Name    Primary Type           total_case
  0  Wentworth        THEFT                          29
  1  Wentworth        BATTERY                        21
  2  Wentworth        CRIMINAL DAMAGE                14
  3  Wentworth        ASSAULT                         8
  4  Wentworth        MOTOR VEHICLE THEFT             7

In [12]:
# create selection test
filters.create_selection(years=[2001], types=[], districts=[], months=[])
filters.get_total_cases()

before filter df  2200
after filter selection 100

array(100)

In [13]:
tp= filters.create_ranking_filter(data_frame)
tp.head(5)

  #  District_Name    Primary Type           total_case
  0  Wentworth        THEFT                          29
  1  Wentworth        BATTERY                        21
  2  Wentworth        CRIMINAL DAMAGE                14
  3  Wentworth        ASSAULT                         8
  4  Wentworth        MOTOR VEHICLE THEFT             7

In [14]:
filters.reset_data_frame()
filters.get_total_cases()

array(2200)

In [15]:
filters.effective_pd_filter(data_frame)

(#    Primary Type                       Arrest    count
 0    LIQUOR LAW VIOLATION               True      2
 1    OTHER OFFENSE                      True      21
 2    THEFT                              True      42
 3    WEAPONS VIOLATION                  True      25
 4    CRIMINAL DAMAGE                    True      17
 ...  ...                                ...       ...
 17   NARCOTICS                          True      191
 18   INTERFERENCE WITH PUBLIC OFFICER   True      3
 19   CONCEALED CARRY LICENSE VIOLATION  True      1
 20   BATTERY                            True      79
 21   ROBBERY                            True      7,
 #    Primary Type            Arrest    Count
 0    OTHER OFFENSE           False     115
 1    ARSON                   False     1
 2    THEFT                   False     424
 3    CRIMINAL DAMAGE         False     225
 4    WEAPONS VIOLATION       False     8
 ...  ...                     ...       ...
 16   DECEPTIVE PRACTICE      False     95
 17   PUBLIC PEACE VIOLATION  False     1
 18   NARCOTICS               False     2
 19   BATTERY                 False     317
 20   ROBBERY                 False     71)

In [16]:
filters.holiday_crime_filter()

(#    Month    Count
 0    1        235
 1    2        151
 2    3        150
 3    4        171
 4    5        166
 ...  ...      ...
 7    8        182
 8    9        223
 9    10       183
 10   11       171
 11   12       152,
 183.33333333333334)

In [17]:
filters.abuse_crime_filter()

#    District_Name    Domestic    Count
0    Near North       True        2
1    Deering          True        9
2    Morgan Park      True        9
3    Wentworth        True        16
4    Englewood        True        26
...  ...              ...         ...
17   Near West        True        15
18   Albany Park      True        11
19   Harrison         True        33
20   Gresham          True        23
21   Lincoln          True        2

In [18]:
filters.weekday_crime_filter()

(#    Day        District_Name    Count
 0    Wednesday  Near North       10
 1    Wednesday  Deering          18
 2    Wednesday  Morgan Park      11
 3    Wednesday  Wentworth        13
 4    Wednesday  Englewood        20
 ...  ...        ...              ...
 149  Friday     Grand Crossing   16
 150  Friday     Albany Park      12
 151  Friday     Harrison         26
 152  Friday     Gresham          18
 153  Friday     Lincoln          5,
 14.285714285714286)

In [19]:
filters.daytime_crime_filter()

(#    Time    Count
 0    08      87
 1    19      120
 2    06      45
 3    09      100
 4    23      100
 ...  ...     ...
 19   18      128
 20   14      109
 21   05      34
 22   22      101
 23   03      50,
 91.66666666666667)

In [20]:
filters.state_crime_filter()

#    Year    Count
0    2001    100
1    2002    100
2    2003    100
3    2004    100
4    2005    100
...  ...     ...
17   2018    100
18   2019    100
19   2020    100
20   2021    100
21   2022    100